/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary {

    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 25px;
}

a {
    text-decoration: none;
}

/* Header Styles */

header {
    background-image: url('../images/banner/banner3.png');
    height: 808px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-contain {
    padding: 216px 230px 186px 845px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

header a {
    text-decoration: none;
}

.title-bar {
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.main-des {
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 494px;
    margin: 24px;
    /* 162.5% */
}

.previous-year-contain {
    text-align: left;
    padding: 128px;
}

.previous-year {
    display: flex;
    align-items: center;
    margin: 140px 277px;
}

#previous-year-title {
    margin-bottom: 24px;
    color: var(--Dark-01, #151414);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 288px;
}

#previous-year-des {
    margin-bottom: 16px;
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 416px;
}

.previous-year-contain li {
    color: var(--Dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.plans-item {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 230px;
    padding-right: 230px;
    margin-bottom: 135px;

}

.plans-item-box h3 {
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.plans-item-box p {
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.myplans-section h1 {
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 80px;
}

.plans-item-box {
    gap: 50px;

}

.banner-contain {
    margin-top: 135px;
    margin-bottom: 130px;
    position: relative;
}

.call-now-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.call-now-section h1 {
    position: absolute;
    width: 459px;
    margin: 59px 617px 147px 64px;
    text-align: left;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.call-now-section a {
    position: absolute;
    margin: 177px 916px 59px 50px;
}


#img1 {
    position: relative;
}

#img2 {
    position: absolute;
}

/* Footer section styles */

footer {
    height: 577px;
    background-color: #151414;
    margin-top: 130px;
    gap: 100px;
}
.footer-div {
    display: flex;
    justify-content: space-around;
    

}
.future-contain {
    margin: 130px;
    gap: 50px
}

.future-title {
    color: #F8F8F8;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

.future-des,
.email,
.phone {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
    /* 162.5% */
}
.future-des {
    width: 485px;
    height: 78px;
}
.email {
    margin-bottom: 16px !important;
}
.social-links {
    display: flex;
    gap: 22px;
  }
.subscirbe-contain {
    margin: 130px;
}

.subscribe-title {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.email-input {
    width: 325px;
    height: 64px;
    flex-shrink: 0;
    background-color: #151414;
    border-radius: 8px;
    border: 1px solid #FFF;
    margin-top: 31px;
    margin-bottom: 36px;
    padding-left: 15px;
    color: #ffffffc0;
}
.email-input::placeholder {
    color: #ffffffc0;
    font-size: 12px;
  }